h2 {
    text-align: center;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .my-profile-button {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    border-color: lightgrey;
  }

  .my-profile-button-click {
    margin-left: auto;
    color: blue;
  }

  .main-heading {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    align-items: center;
    /* justify-content: center; */
    margin: 20px 0;
  }
  
  .main-heading-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  h2 {
    font-size: 24px;
    margin: 0;
  }
  
  span {
    margin-left: 10px;
  }
  
  .button-image {
    width: 40px;
    height: 40px;
  }
  
  .click-image {
    width: 20px;
    height: 20px;
    margin-left: auto;
  }
  